body {
    background-color: #D0D3D4
  }
  
  #container {
    background-color: white;
    text-align: center;
    width: 70%;
    margin: auto;
    box-shadow: 1px 1px 4px 2px black;
  }
  
  .bar {
    background-color: blue;
    color: blue;
    fill: blue;
  }
  
  .bar:hover {
    fill: red;
  }
  
  #tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: lightsteelblue;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
  }
  