* {
  box-sizing: border-box;
}

.padding {
  padding-right: 200px;
  padding-left: 200px;
}

.body {
  background-color: white;
}

p {
  margin: auto 0;
  overflow: scroll;
}

.topnav {
  overflow: hidden;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
  float: left;
  text-align: center;
  font-size: 16px;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  color: black;
  background-color: white;
}
