* {
  box-sizing: border-box;
}

.padding {
  padding-right: 200px;
  padding-left: 200px;
}

.body {
  background-color: white;
}

p {
  margin: auto 0;
  overflow: scroll;
}

.topnav {
  overflow: hidden;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.main {
  margin-top: 90px;
}

.past {
  background-color: blue;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.present {
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.future {
  background-color: black;
  border: 0;
  margin-top: -1;
  margin-bottom: -1;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
  float: left;
  text-align: center;
  font-size: 16px;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  color: black;
  background-color: white;
}
