body {
  font-family: "Times New Roman", Times, serif;
}

#main {
  width: 85%;
  height: 100%;
  margin: auto;
}

#title {
  font-family: "Garamond", Garamond, serif;
  font-weight: bold;
  background-color: rgb(237, 41, 57);
  border-radius: 8px;
  text-align: center;
  color: rgb(0, 35, 149);
}

h2 {
  padding-bottom: 8px;
}

#tribute-info {
  width: 68%;
  text-align: left;
  float: left;
  margin-left: -10px;
}

h3 {
  margin-left: 10px;
}

#img-div {
  width: 30%;
  text-align: left;
  float: right;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}
