body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.contact {
  background-color: aqua;
  color: black;
  width: 100%;
}

#logo {
  float: left;
  text-align: center;
  font-size: 18px;
}

header {
  background-color: teal;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  top: 0;
}

header a {

}

.contactName {
  display: grid;
  grid-template-columns: 2fr;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

form {
  grid-column: 2;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  text-align: left;
}

th {
  font-size: 20px;
  border: 1px solid black;
  text-align: left;
}

.entireTableHeader {
  box-shadow: 20px 20px 10px grey;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: grey;
}
