* {
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
  overflow: visible;
  background-color: rgba(0,0,0,1);
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

h1 {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding 8px;
}

.padding {
  padding-right: 180px;
  padding-left: 180px;
}

body {
  background-color: white;
}

p {
  overflow: scroll;
  margin: 0 auto;
  font-size: 18px;
}

.main {
  margin-top: 90px;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p, h3 {
  text-align: left;
}

#logo {
  float: left;
  text-align: center;
  font-size: 18px;
}

header a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

header a:hover {
  color: rgba(0,0,0,1);
  background-color: white;
}

img {
  border-radius: 0.5px;
  max-width: 180px;
  max-height: auto;
  position: static;
  left: 0;
}
