* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid;
  border-radius: 2px;
}

#submit {
  background-color: black;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 30px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

.nav-link {
  background-color: #42b3f4;
  color: black;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-link:hover {
  color: black;
  background-color: white;
}

#header-img {
  width: auto;
  max-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

main {
  margin-top: 100px;
  background-color: white;
  padding-right: 180px;
  padding-left: 180px;
}

.flexContainer1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexContainer2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

footer {
  width: 100%;
  background-color: rgba(0,0,0,1);
  color: white;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

#about, #features, #howto, #update {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #42b3f4;
  padding-right: 20px;
  padding-left: 20px;
}

h2 {
  text-decoration: underline;
}

#rolodeximg {
  width: 100%;
  height: auto;
}

#rolodexcard {
  width: 100%;
  height: auto;
}
