* {
  box-sizing: border-box;
}

header {
  overflow: visible;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.padding {
  padding-right: 200px;
  padding-left: 200px;
}

body {
  background-color: white;
}

p {
  overflow: scroll;
  margin: 0 auto;
}

.main {
  margin-top: 90px;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.firstblock {
  background-color: #c1440e;
  margin-top: -20px;
}

.secondblock {
  background-color: #e77d11;
}

.thirdblock {
  background-color: #fda600;
}

.fourthblock {
  background-color:#f0e7e7;
}

.fifthblock {
  background-color: #c1440e;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p, h3 {
  text-align: left;
}

#logo {
  float: left;
  text-align: center;
  font-size: 16px;
}

header a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

header a:hover {
  color: black;
  background-color: white;
}

img {
  border-radius: 3px;
  max-width: 180px;
  max-height: auto;
}
